<h1>Teams</h1>

<% if @teams.size == 0 %>
  <p>No teams yet!</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th><%= sorting_teams "Team Name" %></th>
        <th>Team Code</th>
        <th>Created By</th>
        <th>Team Members</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
        <tr id=team<%= team.id %> >
          <td><%= team.team_name %></td>
          <td><%= team.team_code %></td>
<<<<<<< HEAD
          <td><%= team.user.name %></td>

          <% if team.student_names.size == 0 %>
          <td> No members</td>
          <% else %>
          <td>

            <!-- The below do each loop was adpated from: https://stackoverflow.com/questions/26695711/dont-have-a-comma-on-the-last-iteration-of-an-each-loop-in-rails/26695926 -->
          <% team.users.each_with_index do |user, i| %>
          <% if i > 0 %>
            ,
           <% end %>

          <%= link_to user.name, user %>
          <% end %>
          </td>
          <% end %>

=======
          <td><%= team.user.first_name + " " + team.user.last_name %></td>
          <td><%= team.student_names.join(", ") %></td>
>>>>>>> ed3c1875aa535a891523e52a2fc838e2b603fcf4
          <td><%= link_to 'Show', team %></td>
          <td><%= link_to 'Edit', edit_team_path(team) %></td>


          <td><%= link_to 'Delete Team', team_confirm_delete_path(team.id) %></td>


        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
<%# Use id to prevent capybara getting confused about which "new team" link to click %>
<%= link_to 'New Team', new_team_path, id: "new-team-link" %> |
<%= link_to 'Back', :back %>
