<%= form_with(model: feedback, local: true) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <% if flag == true %>
      <div class="field">
        Student Name:
        <%= user.name %>
      </div>
    <% end %>
  <div class="field">
    Your Current Team:
    <% user.team_names.each do |tm| %>
      <%= tm %>
    <% end %>   
  </div>

  <div class="field">
    Current System Time: 
    <%= @feedback.format_time(now) %>    
  </div> 

  <div class="field">
    <% choices = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
    <%= form.label :rating, "Rate your team health on a scale from 1-10, where 1 represents your team is doing very poorly and 10 represents your team is doing extremely well." %>
    <%= form.select :rating, choices, :include_blank => true %>
  </div>

  <div class="field">  
    <% choices = [["High", 0],["Low", 1],["None", 2]] %>
    <%# Urgent - Instructor needs to check up on team ASAP! %>
    <%# Low - Instructor needs to check up on when they have the chance this week. %>
    <%# None - Instructor can check up on team. %>
    <%= form.label :priority, "To what extent does your feedback need urgent attention? High - Your team health needs attention from the instructor ASAP. Low - You would like to discuss your team health with the instructor this week. None - Your team health is on the right track." %>
    <%= form.select :priority, choices%>
  </div>

  <div class="field">
    <%= form.label :comments, "Add any comments you feel is worth mentioning here. If you rate your team poorly or your team requires urgent attention, please explain below." %>
    <%= form.text_area :comments %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
